<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639200601818-39lagug1voik9bt5o4043in414u85l7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639200601818-39lagug1voik9bt5o4043in414u85l7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCdhScz8DRlULnZXDBV40VTDh64WE7BEXw</string>
	<key>GCM_SENDER_ID</key>
	<string>639200601818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hjq.nineKeyKeyboard</string>
	<key>PROJECT_ID</key>
	<string>keyboard-b3485</string>
	<key>STORAGE_BUCKET</key>
	<string>keyboard-b3485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639200601818:ios:7ca0648db3b78acc</string>
	<key>DATABASE_URL</key>
	<string>https://keyboard-b3485.firebaseio.com</string>
</dict>
</plist>